name: continous-integration

on:
  push:
    branches-ignore: [ga-ignore-*]
  pull_request:
    branches-ignore: [ga-ignore-*]

jobs:
    check-compilation:
      uses: ./.github/workflows/check-compilation.yml

    Dispatch:
      needs: [check-compilation]
      runs-on: ubuntu-latest
      if: github.ref == 'refs/heads/main'
      permissions:
        contents: write
      steps:
        - name: Repository Dispatch
          uses: peter-evans/repository-dispatch@v4
          with:
            token: ${{ secrets.PAT }}
            repository: ValianceTekProject/Area
            event-type: update-submodules
